
body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif !important;
}



.starts-hidden, .hidden
{
    display: none;
}

i
{
    width:20px;
    margin-right:10px;
}

.admin-photo
{
    width: 25px;
    height: 25px;
    margin-left:15px;
    top:-2px;
}

.admin-logo
{
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 20px;
}

.admin-wrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.navbar{
    min-height: 40px !important;
}

.navbar-inverse{
    background-color: #373D47 !important;
    border-color: #373D47 !important;
}

.btn-primary {
    background-color: #565F6C !important;
    border-color: #565F6C !important;
}

.btn-primary:hover {
    background-color: #333333 !important;
    border-color: #333333 !important;
}


.btn-sm
{
    width: 78px;
}


.logo{
    position: absolute;
    color:#979DA7;
    top:10px;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        top: 41px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #373D47;
        border-right: 1px solid #eee;
        font-size: 13px;
        line-height: 18px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    color:#979DA7;
    border-left: 10px #373D47 solid;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
    border-left: 10px #B1B1B3 solid;
}


.nav > li > a:focus, .nav > li > a:hover
{
    border-left: 10px #B1B1B3 solid !important;
    background-color: #333333 !important;
    color: #ffffff !important;
}





/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 50px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/**
 interview admin css
**/
.interview-info
{
    text-align:left;
}

.interview-ass
{
    font-size:12px;
    font-weight: 700;
}
.interview-more
{
    padding-left:10px;
    font-size: 10px;
}

.edit-save-icon i
{
    width: 8px;
}

.fa-spin
{
    width: 20px !important;
}

.edit:hover, .save:hover, .cancel:hover
{
    cursor: pointer;
}

.name-cell input[type="text"]  {

    background-color: #ffffff;
    max-width: 80px;
    height:35px;
    border: 1px solid #eeeeee !important;
    box-shadow: none !important;
}

.email-cell input[type="text"]  {

    background-color: #ffffff;
    max-width: 200px;
    height:35px;
    border: 1px solid #eeeeee !important;
    box-shadow: none !important;
}


.save-msg
{
    color:green;
}




.property-table td, .area-table td
{
    font-size:16px;
    border-top:none !important;
}

.area-table td
{
    color: #333;
    font-weight:500;
    font-size: 20px;
}

.table-striped > tbody > tr:nth-of-type(2n+1)
{
    background-color:#eeeeee;
}



@media only screen
and (min-device-width: 320px)
and (max-device-width: 780px)
and (-webkit-min-device-pixel-ratio: 2)
{
    body, html,.btn
    {
        font-size: 24px;
    }

    h3
    {
      font-size: 34px;
    }

    .property-table td, .area-table td
    {
        font-size: 32px;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        font-size:40px;
    }

    .form-control
    {
        font-size: 32px;
        height:70px;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
    }

}